accountVehiclesContent{
	text-align: center;
	background: white;
}
#headerimg {
	width: 483px;
	height: 50px;
	margin: 0px auto;
	display: block;
	background-image: url(../images/shopezgomainlogo.jpg) inherit;
}

#headerimg a{
	width: 483px;
	height: 50px;
	margin: 0px auto;
	display: block;
	background: #fff url(../images/shopezgomainlogo.jpg) no-repeat;
}

#headerimg a span{
	visibility: hidden;	
}

#myAccount{
	position: absolute;
	right: 0px;
	left: auto;
}

.video {
	color: black;
}

.videos{
	background: white;
	width: 99%;
}

#partsSearchResultsContent, #accountVehiclesContent{
	background: white;
	text-align: center;
}

.videoCategories{
	padding-top: 5px !important;
}

#contact {
	background: white;
	text-align: center;
}

#productList{
	background: white;
	text-align: center;
}

#misc{
	text-align: center;
	font-size: 14pt;
}

#vehicleResultsContent, #partsOverviewContent, #partInfoResultContent{
	text-align: center;
	font-size: 14pt;
	background: white;
}

.ui-header-fixed
{
background:white;
}

.loginLink
{
align: right !important;
}
.loginLink a
{
color:#7A7358;
text-shadow:none !important;
}

.ui-btn-up-a
{
background-image: -webkit-linear-gradient(#185365,#226882);
background-image:-moz-linear-gradient(#185365,#226882);
background-image:linear-gradient(#185365,#226882);
border:1px solid #548696 !important;
}
.ui-btn-active {
background-image: -webkit-linear-gradient(#226882,#307085);
background-image: -moz-linear-gradient(#226882,#307085);
background-image:linear-gradient(#226882,#307085);
border:1px solid #548696 !important;
}
.ui-btn-text
{
white-space: pre-wrap;
font-size:12pt;
}
.ui-btn-hover-a
{
background-image: -webkit-linear-gradient(#226882,#307085);
background-image: -moz-linear-gradient(#226882,#307085);
background-image:linear-gradient(#226882,#307085);
border:1px solid #548696 !important;
}

.ui-btn-inner
{
border-top:none !important;
}

.ui-body-c, .ui-overlay-c
{
background-image: -webkit-linear-gradient(#463929,#DDD9CF);
background-image: -moz-linear-gradient(#463929,#DDD9CF);
background-image:linear-gradient(#463929,#DDD9CF);
}

.ui-body-c, .ui-overlay-c
{
color:black !important;
text-shadow: 0 1px 3px #fff !important;
}
ui-btn-hidden { 
position: absolute;
z-index:1000000; 
height: 16px; padding: 10px 40px;
border:2px;
border-radius: 50px;
top: 0; left: 0; width: 100%; height: 100%; -webkit-appearance: none; cursor: pointer; 
background-image:    -moz-linear-gradient( #005881 /*{a-bar-background-start}*/, #003954 /*{a-bar-background-end}*/); /* FF3.6 */
background-image:    -webkit-linear-gradient( #005881 /*{a-bar-background-start}*/, #003954 /*{a-bar-background-end}*/); /* FF3.6 */
filter: Alpha(Opacity=0); opacity: .9; font-size: 1px; text-indent: -9999px; }




